@keyframes fadeIn{
    0%{
        opacity: 0.6
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1
    }
    100%{
        opacity: 0.6;
    }
}

@keyframes borderAnimation{
    0%{
        border-bottom: none;
    }
    100%{
        border-bottom: 2px solid #1A63A7
    }
}

@keyframes slideIn{
    0%{
        height: 0vh;
    }
    100%{
        height: 5.5vh;
    }
}

@keyframes loader{
	0%{
	}
	25%{
		transform:rotate(90deg);
	}
	50%{
		transform:rotate(180deg);
	}
	75%{
		transform:rotate(270deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

.navbar{
    width: 100vw;
    height: 60vh;
    position: relative;
    margin: 0;
}

.pseudo-background1,.pseudo-background2{
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

.realBackground{
    width: 100vw;
    height: 60vh;
    position: absolute;
    margin: 0;
    background-color: #a9a9a9;
    opacity: 0.2;
}

.background1{
    margin: 0;
    animation: fadeOut 10000ms linear 0ms infinite;
}

.background2{
    margin: 0;
    animation: fadeIn 10000ms linear 0ms infinite;
}

.background1>h1,.background2>h1{
    position: absolute;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    top:25vh;
    left:80vw;
    z-index: 1;
}

.navtop{
    position: absolute;
    left: 13vw;
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: white;
    z-index: 1;
}

.navtop>h1{
    opacity: 1;
    animation: none;
}

.secondColumns>ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

.secondColumns>ul>li{
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 16px;
    cursor: pointer;
}

.form-container{
    position: absolute;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    top: 40vh;
}

.train-search-form{
    width: 75vw;
    height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.search-form{
    padding: 8px 32px;
    background: white;
    z-index: 1;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    box-shadow: 2px solid #a9a9a9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.from,.to,.doj{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
}

.from>label,.to>label,.doj>label{
    color:rgba(0,0,0,0.7);
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.from>input,.to>input,.doj>input{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #a9a9a9;
    font-family: 'Noto Sans', sans-serif;
    padding: 2px;
    font-size: 14px;
}

.from>input:focus,.to>input:focus,.doj>input:focus{
    outline: none;
    animation: borderAnimation 500 linear 1ms 1 forwards;
    border-bottom: 2px solid #1A63A7;
}

.flip-arrow{
    position: relative;
}

.bidirectional-arrow{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 24px;
}

.fa{
    color:#1A63A7;
    font-size: 8px;
}

.circle{
    z-index: 1;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    border: 1px solid #1A63A7;
    position: absolute;
    top: 19px;
    left: -9px;
    cursor: pointer;
}

.search-button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background: #1A63A7;
    border: 1px solid #1A63A7;
    border-radius: 2px;
    padding: 0 16px;
    cursor: pointer;
}

.fa-search{
    font-size: 16px;
    color: white;
    padding-right: 16px;
}

.search-button>p{
    text-transform: capitalize;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.dropdown-results{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 43vw;
    font-family: 'Open Sans', sans-serif;
    z-index: 3;
}

.from-dropdown,.to-dropdown{
    margin-left:2vw;
    z-index: 3;
}

.dropdown-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
    cursor: pointer;
    padding: 4px 8px;
    padding-right: 8vw;
    border-bottom: 1px solid #a9a9a9;
    z-index: 3;
}

.station-code{
    margin-right: 32px;
    background: rgb(70,137,51);
    background: linear-gradient(90deg, rgba(70,137,51,1) 0%, rgba(85,167,79,1) 50%, rgba(108,197,110,1) 100%);
    padding: 4px 8px;
    border:1px solid rgb(70,137,51);
    border-radius: 2px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.station-name{
    font-size: 16px;
}

.from-hidden{
    opacity: 0;
}

.to-hidden{
    opacity: 0;
}

.feature-container,.header-content{
    width: 100vw;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #F2F2F2;
}

.feature{
    position: absolute;
    z-index: 0;
    width: 75vw;
    height: 13vh;
    top: 55vh;
    background: black;
    display: flex;
    flex-direction: row;
    background: #fff;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    box-shadow: 8px solid #a9a9a9 8px solid #a9a9a9;
    flex-grow: 0;
}

.header-content{
    z-index: 1;
    width: 100vw;
}

.feature-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.feature-child>h1{
    color: #1A63A7;
    font-size: 22px;
}

.feature-child>p{
    color: #C59676;
    font-size: 14px;
    font-weight: 600;
}

.header{
    font-family: 'Open Sans', sans-serif;
    width: 75vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    color: #fff;
    top: 35.2vh;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
}

.header>a{
    color: white;
    height: 2px;
    text-decoration: none
}

.generic-header{
    display: flex;
    flex-direction: column;
    margin-left: 28px;
}

.generic-header>h1{
    font-size: 16px;
    cursor: pointer;
}

.generic-header>div{
    width: 100%;
    height: 3px;
    background: #1A63A7
}

.underline{
    opacity: 1;
}

.underline-hidden{
    opacity: 0;
}

.error-message{
    position: absolute;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background: #f2efef;
    opacity: 1;
    z-index: 2;
    width: 75vw;
    top: 7.5vh;
}

.error-message>p{
    color: #C59676;
    font-family: 'Open Sans', sans-serif;
}

.train-list-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.train-list{
    width: 75vw;
    background: white;
    border-radius: 4px;
    box-shadow: 2px solid #a9a9a9;
}

.loader-container{
    display: flex;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 35vh;
}

.loader{
	width:84px;
	height:84px;
	border-radius: 150px;
	border-top:8px solid rgba(108,197,110,1);
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-bottom:8px solid #1A63A7;
	animation-name: loader;
	animation-iteration-count: infinite;
	animation-duration: 1s;
    animation-timing-function: linear;
    z-index:10;
}